BR2_aarch64=y
# BR2_COMPILER_PARANOID_UNSAFE_PATH is not set
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_KERNEL_HEADERS_4_9=y
BR2_GCC_VERSION_9_X=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_FRAMEWORK_HIACEJS=y
BR2_PACKAGE_GDB=y
BR2_PACKAGE_LIBGCRYPT=y
BR2_PACKAGE_LIBSECRET=y
BR2_PACKAGE_ATK=y
BR2_PACKAGE_OPENJPEG=y
BR2_PACKAGE_WEBP=y
BR2_PACKAGE_WEBP_DEMUX=y
BR2_PACKAGE_WOFF2=y
BR2_PACKAGE_LIBINPUT=y
BR2_PACKAGE_LIBXSLT=y
BR2_PACKAGE_LIBSOUP=y
BR2_PACKAGE_LIBTASN1=y
BR2_PACKAGE_ENCHANT=y
