BR2_aarch64=y
BR2_cortex_a35=y
# BR2_COMPILER_PARANOID_UNSAFE_PATH is not set
BR2_ENDIAN="LITTLE"

BR2_TOOLCHAIN=y
BR2_TOOLCHAIN_USES_GLIBC=y
BR2_TOOLCHAIN_BUILDROOT=y
BR2_TOOLCHAIN_BUILDROOT_VENDOR="buildroot"
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_TOOLCHAIN_BUILDROOT_LIBC="glibc"
BR2_TOOLCHAIN_BUILDROOT_CXX=y

BR2_GCC_TARGET_ABI="lp64"
BR2_GCC_TARGET_CPU="cortex-a53"
BR2_GCC_VERSION_7_X=y
BR2_GCC_SUPPORTS_DLANG=y
BR2_GCC_VERSION="7.5.0"

BR2_KERNEL_HEADERS_4_9=y
BR2_PACKAGE_GLIBC_2_29=y

BR2_BINUTILS_VERSION_2_34_X=y
BR2_BINUTILS_VERSION="2.34"
BR2_BINUTILS_EXTRA_CONFIG_OPTIONS=""

BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_PACKAGE_HYBRIDOS=y
BR2_PACKAGE_HIVIEWRENDERER=y
BR2_PACKAGE_LIBINPUT=y
